{%extends "index_base.html" %}
{%block title%}PgDay SCALE 2018{%endblock%}
{%block pagetitle%}PgDay SCALE 2018{%endblock%}
{%block content%}
		<!-- Banner -->
			<section id="banner" class="jumbotron">
				<h2>PgDay SCALE 2018</h2>
				<p> - Don't Mess with Postgres - </p><br>
				<p> August 26, 2017 </p>
			</section>
			<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="box">
								<img src="{{media("images/texas.png")}}" alt="Texas">
								<p>
									PostgreSQL(at)SCaLE is a two day, two track event which takes place on
									March 8-9, 2018, at Pasadena Convention Center, as part of SCaLE 16X.
								</p><p>
									SCaLE is a completely volunteer-driven event, and in the last decade it
									has grown into the largest volunteer-run Linux/FOSS event in North
									America. SCaLE 16X takes place on March 8-11, 2018.
								</p><p>
									We’re looking for presentations surrounding experiences, tools and
									technical details of how you use PostgreSQL.
								</p><p>
									Anyone and everyone in the community is encouraged to submit! Presenters
									and talks should be technical in nature, not sales/marketing. If you’re
									working with PostgreSQL, we want to hear from you.
								</p><p>
									Simply go to the SCaLE website, create or login to your account, and
									walk through the steps of the CFP interface
									<a href="http://www.socallinuxexpo.org/scale/16x/cfp">here.</a> Be sure
									to select "PostgreSQL" as your submission's topic.
								</p><p>
									We look forward to seeing you in March!
								</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="box">
								<img src="{{media("images/calendar.svg")}}" alt="Calendar">
								<ul class="unstyled">
									<li><b>Call for Papers Closes</b><br> 31 October, 2017</li>
									<hr>
									<li><b>Speakers Notified</b><br> June 11th, 2017</li>
									<hr>
									<li><b>Speakers Confirmed</b><br> June 14th, 2017</li>
									<hr>
									<li><b>Talks Announced</b><br> June 17th, 2017</li>
									<hr>
									<li><b>Registration Opens</b><br> June 17th, 2017</li>
									<hr>
									<li><b>Schedule Announced</b><br> June 21st, 2017</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
<!--		<section id="news" class="wrapper news special">
			<header class="major front">
				<h2>Latest Blogs</h2>
			</header>
			<div id="posts" class="posts horizontal">
			  <div class="overlay"></div>
			</div>
		</section>
-->
{% endblock %}
