{%extends "base.html" %}
{%block title%}Policies | PgDay SCALE 2018{%endblock%}
{%block pagetitle%}PgDay SCALE 2018{%endblock%}
{%block content%}
<h1>Policies</h1>
<hr>
<p>
	PGDay Austin is a non–profit, community–run annual event in Austin, Texas focused on business users, database professionals and developers of PostgreSQL,
	the open source database, as well as connected open source data and development communities.<br>
	As a non-profit, we require certain policies to ensure that the event can be a successful as well as safe and inclusive environment for everyone.
</p>
<h3>PURCHASING AND REFUND POLICIES</h3>
<p>
	The United States PostgreSQL Association, a 501 (c) (3) non-profit, underwrites the Austin PostgreSQL User Group (“Austin PUG”) and PGDay Austin. Purchasing of
	tickets will be done via the PGDay Austin payment gateway transacted by our partner Braintree. Purchasing transactions may take up to 48 hours to appear on
	purchaser’s credit card.<br>
	Payment through the PGDay Austin gateway is completed with PCI-DSS (2.0) level security compliance and all customer data is stored encrypted.<br>
	Due to our food and beverage contract and our obligations to our sponsors, PGDay Austin can only offer full refunds to the event up to 14 days prior to the event.<br>
	Refunds will be issued directly back using the same payment method through which the ticket was purchased (eg: credit card).<br>
	Please allow 10 days of processing time for refund requests. To inquire about a refund please email <a href="mailto:treasurer@postgresql.us">treasurer@postgresql.us</a>.<br>
	Please include the following in your request:
</p>
<ul class="unstyled">
	<li>Your name</li>
	<li>Company name</li>
	<li>Invoice Number</li>
	<li>Reason for refund</li>
</ul>

<h3>PRIVACY POLICY</h3>
<p>
	This Privacy Policy was created on May 1, 2017.<br>
	Austin PUG ("us", "we", or "our") organizes PGDay Austin, and operates https://pgdayaustin2017.postgresql.us (the "Site"). This page informs you of our policies regarding
	the collection, use and disclosure of Personal Information we receive from users of the Site.<br>

	We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this
	policy.
</p>

<h3>Information Collection And Use</h3>
<p>
	While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").
</p>
<h3>Log Data</h3>
<p>
	Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
</p>
<h3>Cookies</h3>
<p>
	Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
	<br>
	Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
</p>
<h3>Security</h3>
<p>
	The security of your Personal Information is important to us. But remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
</p>
<h3>Links To Other Sites</h3>
<p>
	Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
	<br>
	Austin PUG and PGDay Austin has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.
</p>
<h3>Changes To This Privacy Policy</h3>
<p>
	Austin PUG and PGDayAustin may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.
</p>
<h3>Contact Us</h3>
<p>
	If you have any questions about this Privacy Policy, please contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
</p>
<h3>SPEAKER POLICY</h3>
<p>
	PGDay Austin provides gratis admission to regular event sessions for all speakers. Where applicable, training sessions and tutorials are not included and must be purchased separately. PGDay Austin does not typically provide reimbursement for speaker expenses. Requests for assistance with travel and/or lodging expenses must be included in the "Submission Notes" for each talk and will be considered on a case-by-case basis.
</p>
<h3>ANTI-HARASSMENT POLICY</h3>
<p>
	Austin PUG and PGDay Austin is dedicated to providing a harassment-free event experience for everyone. We do not tolerate harassment of event participants in any form. Sexual language and imagery is not appropriate for any event venue, including talks.
	<br>
	Event participants violating this policy may be sanctioned or expelled from the event without a refund at the discretion of the event organizers. It is the sole discretion of the event committee if any action is considered to have violated this policy.
	Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing, photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately. Failure to comply will result in sanctions and/or ejection from the event without a refund.<br>
	If a participant engages in harassing behavior, the event organizers may take any action they deem appropriate, including but not limited to: warning the offender, expulsion from the event with no refund, and/or referral to appropriate authorities. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff, including anyone on the event committee, immediately.
	Event staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance. Decisions regarding appropriate assistance will be at the sole discretion of the event committee.
</p>
<p>
	<b>For emergencies:</b> 911<br>
	<b>Committee email:</b> secretary@postgresql.us<br>
	<b>Venue:</b> 512-596-2683<br>
	<b>Austin Police Non-Emergency:</b> 311<br>
	<b>Austin 24-Hour Crisis Hotline:</b> 512-472-HELP(4357)
</p>
<p>
	<b>All participants are expected to adhere to this policy at all event venues and Austin PUG and PGDay Austin-related social events.</b>
</p>
<h3>TERMS & CONDITIONS</h3>
<p>
	By visiting our website and using our servers you agree to comply with the terms and conditions of this Acceptable Use Policy.
	You may not use our website in connection with any activity that involves:
</p>
<ul class="unstyled">
	<li>Violates any law or government regulation, or promotes or facilitates such by third parties;</li>
	<li>Violates any rule or regulation of Visa, Mastercard, American Express, Discover or any other electronic funds transfer network (each, a “Card Network”)</li>
	<li>Is fraudulent, deceptive, unfair or predatory</li>
</ul>
<p><b>All participants are expected to adhere to this policy at all event venues and event-related social activities.</b></p>

{% endblock %}
