{%macro media(url)%}{{mediabase|default("/")}}static/{%if githash%}{{githash}}/{%endif%}{{url}}{%endmacro-%}
{%macro link(url)%}{{linkbase|default("/")}}{{url}}{%endmacro-%}
{%macro menulink(subpage,title,magic)%}<li{%if page==subpage or (pagemagic and pagemagic==magic)%} class="active"{%endif%}><a href="{{link(subpage + "/")}}">{{title}}</a></li>{%endmacro-%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="PGDay SCALE 2018" />
		<meta name="keywords" content="PostgreSQL" />
		<meta name="author" content="United States PostgreSQL Association" />
		<link rel="icon" href="favicon.ico" />

		<title>{%block title%}PGDay SCALE 2018{%endblock%}</title>

		<!-- Twitter Meta Tags
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@postgresopen">
		<meta name="twitter:creator" content="@postgresopen"> -->
		<meta name="twitter:title" content="PGDay SCALE 2018 | PostgreSQL User Group">
		<meta name="twitter:description" content="PGDay SCALE 2018 is happening on August 26th in Austin, Texas; all are welcome at this PostgreSQL User Group.">

		<!-- Facebook Open Graph Meta Tags -->
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="800">
		<meta property="og:url" content="http://pgdayaustin2017.postgresql.us/">
		<meta property="og:title" content="PGDay SCALE 2018 | PostgreSQL User Group">
		<meta property="og:site_name" content="PGDay SCALE 2018">
		<meta property="og:image" content="http://austinpug.postgresql.us/static/images/banner.jpg">

		<script src="{{media("js/jquery.min.js")}}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{media("js/jquery.matchHeight-min.js")}}"></script>
		<script src="{{media("js/main.js")}}"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{media("css/style.css")}}" rel="stylesheet">

		<script>
			(function($) {
				$(function() {
					var	$window = $(window),
						$body = $('body');
					// Disable animations/transitions until the page has loaded.
						$body.addClass('is-loading');
						$window.on('load', function() {
							$body.removeClass('is-loading');
						});
				});
			})(jQuery);
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-76808262-1', 'auto');
		  ga('send', 'pageview');
		</script>
		{%block extrahead%}{%endblock%}
	</head>
	<body class="{{page}}">

		<!-- Header -->
			<nav id="header" class="navbar navbar-fixed-top">
				<div id="header-container" class="container navbar-container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="{{link("")}}">
							<img id="logo" src="{{media("images/logo.png")}}" alt="PGDay Austin Logo">
							<h1 class="heading">PGDay SCALE 2018</h1>
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{link("")}}">Home</a></li>
							{{menulink("about", "About")}}
							<li><a href="https://postgresql.us/events/schedule/pgdayaustin2017/">Schedule</a></li>
							{{menulink("tickets", "Registration")}}
							{{menulink("venue", "Venue")}}
							{{menulink("sponsors", "Sponsors")}}
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
      <section id="main" class="wrapper">
				<div class="container">
      		{%block content%}{%endblock%}
        </div>
      </section>

			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row">
							<div class="8u 12u$(medium)">
								<ul class="copyright">
									<li>&copy; PGDay Austin. All rights reserved. | PGDay Austin is an associated project of the United States PostgreSQL Association.</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>

	</body>
</html>
